
<h2>Sign Up</h2>

<form action="<%= users_url %>" method="POST">
  <%= auth_token_helper %>
  <label>Email
    <input type="text" name="user[email]">
  </label>
  <label>Password
    <input type="text" name="user[password]">
  </label>
  <p><input type="submit" value="Sign Up" /></p>
</form>